/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .mint
{
    color: #3EB489;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

table
{
    width: 100%;
}

form {
    display: inline-block;
}

.major_chord {
    font-size: 60px;
}

.note_input {
    transition: all 0.5s;
    transform-origin: 50% 50%;
    text-decoration: none !important;
}

.note_submit {
    transition: all 0.5s;
    transform-origin: 50% 50%;
    text-decoration: none !important;
}

.note_input:hover {
    transform: scale(1.03);
}

.note_submit:hover {
    transform: scale(1.03);
}

.minor_chord {
    font-size:28px;
}

.display_chord.center {
    font-size: 100px
}

.display_chord.edge {
    color: rgba(0, 0, 0, 0.5);
    font-size: 80px
}

.note_input.selected {
    fill: tomato
}

.sidebar {
    width: 300px;
    position: fixed;
    z-index: 1;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    top: 100px;
    left: 10px;
    font-size: 40px
}

.sidebar h5 {
    font-size: 40px
}

.extension {
    width: 20px;
    height: 20px;
}

#left {
    position: fixed;
    left: 50%;
}

#chords {
    position: relative;
    width: 800;
    margin: auto;
}

#right {
    position: fixed;
    right: 50%;
}