{% extends "layout.html" %}

{% block title %}
    New Progression
{% endblock %}

{% block items %}
    &nbsp
    <li class="nav-item"><button class="btn btn-primary" id="save">Save</button></li>
{% endblock %}

{% block main %}
<h1>{{progression["name"]}}</h1>
{{progression["time_signature"]}}/4, {{progression["tempo"]}}bpm


<!-- Test -->
<button onclick="test()">&nbspTe&nbsp&nbsps&nbspt&nbsp</button>



<div class="sidebar">
    <div>
        <h5>Length (beats):</h5>
        <select id="length">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
    </div>
    <div>
        <h5>Extensions</h5>
        7th
        <input type="checkbox" id="7th" class="extension">
        <br>
        9th
        <input type="checkbox" id="9th" class="extension">
    </div>
</div>

<div>
    <button class="btn btn-primary" id="left">&lt</button>
    <text class="display_chord edge">F</text>
    <text class="display_chord edge">/</text>
    <text class="display_chord edge">/</text>
    <text class="display_chord edge">/</text>
    <text class="display_chord edge">&nbsp</text>
    &nbsp&nbsp
    <text class="display_chord center">G</text>
    &nbsp&nbsp
    <text class="display_chord edge">/</text>
    <text class="display_chord edge">/</text>
    <text class="display_chord edge">/</text>
    <text class="display_chord edge">&nbsp</text>
    <text class="display_chord edge">C</text>
    <button class="btn btn-primary" id="right">&gt</button>
</div>

<div>
    <svg height="840" width="840">
        <a href="#" id="E" class="note_input">
            <path d="M 664.5928 556.9893 A 266.666666667 266.666666667 120 0 0 700.3182 423.6578 L 833.6515 423.6552 A 400 400 120 0 1 780.0704 623.6603 Z" />
            <text x="754.2149" y="513.3395" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">E</text>
        </a>

        <a href="#" id="C#min" class="note_input">
            <path d="M 507.751 466.4366 A 85.552633333 85.552633333 120 0 0  519.212933333 423.6603 L 690.3182 423.6577 A 266.6667 266.6667 120 0 1 655.9325 551.9893 Z" />
            <text x="598.4698" y="467.8208" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">C#min</text>
        </a>

        <a href="#" id="B" class="note_input">
            <path d="M 563.3289 660.9326 A 266.666666667 266.666666667 150 0 0 660.9338 563.3268 L 776.4051 629.9912 A 400 400 150 0 1 630 776.4102 Z" />
            <text x="662.7688" y="667.9418" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">B</text>
        </a>

        <a href="#" id="G#min" class="note_input">
            <path d="M 472.7763 504.0908 A 85.5526 85.5526 150 0 0 504.0908 472.7764 L 652.2736 558.3268 A 266.6667 266.6667 150 0 1 558.3289 652.2723 Z" />
            <text x="550.649" y="550.649" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">G#min</text>
        </a>

        <a href="#" id="F#" class="note_input selected">
            <path d="M 423.6602 700.3182 A 266.666666667 266.666666667 180 0 0 556.9914 664.5916 L 623.6603 780.0603 A 400 400 180 0 1 423.6602 833.6603 Z" />
            <text x="506.2731" y="756.1083" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">F#</text>
        </a>

        <a href="#" id="D#min" class="note_input">
            <path d="M 423.6602 519.2129 A 85.5526 85.5526 180 0 0 466.4366 507.7511 L 551.9914 655.9313 A 266.6667 266.6667 180 0 1 423.6602 690.3182 Z" />
            <text x="467.8208" y="598.4698" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">D#min</text>
        </a>

        <a href="#" id="Db" class="note_input">
            <path d="M 283.0107 664.5928 A 266.666666667 266.666666667 210 0 0 416.3422 700.3182 L 416.3448 833.6515 A 400 400 210 0 1 216.3397 780.0704 Z" />
            <text x="326.688" y="754.2211" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">Db</text>
        </a>

        <a href="#" id="Bbmin" class="note_input">
            <path d="M 373.5634 507.751 A 85.5526 85.5526 210 0 0 416.3397 519.2129 L 416.3423 690.3182 A 266.6667 266.6667 210 0 1 288.0107 655.9325 Z" />
            <text x="372.1792" y="598.4698" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">Bbmin</text>
        </a>

        <a href="#" id="Ab" class="note_input">
            <path d="M 179.0674 563.3289 A 266.666666667 266.666666667 240 0 0 276.6732 660.9338 L 210.0088 776.4051 A 400 400 240 0 1 63.5898 630 Z" />
            <text x="172.0789" y="662.788" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">Ab</text>
        </a>

        <a href="#" id="Fmin" class="note_input">
            <path d="M 335.9092 472.7763 A 85.5526 85.5526 240 0 0 367.2236 504.0908 L 281.6732 652.2736 A 266.6667 266.6667 240 0 1 187.7277 558.3289 Z" />
            <text x="289.351" y="550.649" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">Fmin</text>
        </a>

        <a href="#" id="Eb" class="note_input">
            <path d="M 139.6818 423.6602 A 266.666666667 266.666666667 270 0 0 175.4084 556.9914 L 59.9397 623.6603 A 400 400 270 0 1 6.3397 423.6602 Z" />
            <text x="83.9" y="506.3" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">Eb</text>
        </a>

        <a href="#" id="Cmin" class="note_input">
            <path d="M 320.7871 423.6602 A 85.5526 85.5526 270 0 0 332.2489 466.4366 L 184.0687 551.9914 A 266.6667 266.6667 270 0 1 149.6818 423.6602 Z" />
            <text x="241.5302" y="467.8208" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">Cmin</text>
        </a>

        <a href="#" id="Bb" class="note_input">
            <path d="M 175.4072 283.0107 A 266.666666667 266.666666667 300 0 0 139.6818 416.3422 L 6.3485 416.3448 A 400 400 300 0 1 59.9296 216.3397 Z" />
            <text x="85.7789" y="326.688" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">Bb</text>
        </a>

        <a href="#" id="Gmin" class="note_input">
            <path d="M 332.249 373.5634 A 85.5526 85.5526 300 0 0 320.7871 416.3397 L 149.6818 416.3423 A 266.6667 266.6667 300 0 1 184.0675 288.0107 Z" />
            <text x="241.5302" y="372.1792" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">Gmin</text>
        </a>

        <a href="#" id="F" class="note_input">
            <path d="M 276.6711 179.0674 A 266.666666667 266.666666667 330 0 0 179.0662 276.6732 L 63.5949 210.0088 A 400 400 330 0 1 210 63.5898 Z" />
            <text x="177.212" y="172.0789" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">F</text>
        </a>

        <a href="#" id="Dmin" class="note_input">
            <path d="M 367.2237 335.9092 A 85.5526 85.5526 330 0 0 335.9092 367.2236 L 187.7264 281.6732 A 266.6667 266.6667 330 0 1 281.6711 187.7277 Z" />
            <text x="289.351" y="289.351" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">Dmin</text>
        </a>

        <a href="#" id="C" class="note_input">
            <path d="M 416.3398 139.6818 A 266.666666667 266.666666667 0 0 0 283.0086 175.4084 L 216.3397 59.9397 A 400 400 0 0 1 416.3398 6.3397 Z" />
            <text x="333.7" y="83.9" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">C</text>
        </a>

        <a href="#" id="Amin" class="note_input">
            <path d="M 416.3398 320.7871 A 85.5526 85.5526 0 0 0 373.5634 332.2489 L 288.0086 184.0687 A 266.6667 266.6667 0 0 1 416.3398 149.6818 Z" />
            <text x="372.1792" y="241.5302" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">Amin</text>
        </a>


        <a href="#" id="G" class="note_input">
            <path d="M 556.9893 175.4072 A 266.666666667 266.666666667 30 0 0 423.6578 139.6818 L 423.6552 6.3485 A 400 400 30 0 1 623.6603 59.9296 Z" />
            <text x="513.312" y="85.7789" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">G</text>
        </a>

        <a href="#" id="Emin" class="note_input">
            <path d="M 466.4366 332.249 A 85.5526 85.5526 30 0 0 423.6603 320.7871 L 423.6577 149.6818 A 266.6667 266.6667 30 0 1 551.9893 184.0675 Z" />
            <text x="467.8208" y="241.5302" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">Emin</text>
        </a>

        <a href="#" id="D" class="note_input">
            <path d="M 660.9326 276.6711 A 266.666666667 266.666666667 60 0 0 563.3268 179.0662 L 629.9912 63.5949 A 400 400 60 0 1 776.4102 210 Z" />
            <text x="667.9211" y="177.212" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">D</text>
        </a>

        <a href="#" id="Bmin" class="note_input">
            <path d="M 504.0908 367.2237 A 85.5526 85.5526 60 0 0 472.7764 335.9092 L 558.3268 187.7264 A 266.6667 266.6667 60 0 1 652.2723 281.6711 Z" />
            <text x="550.649" y="289.351" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">Bmin</text>
        </a>

        <a href="#" id="A" class="note_input">
            <path d="M 700.3182 416.3398 A 266.666666667 266.666666667 90 0 0 664.5916 283.0086 L 780.0603 216.3397 A 400 400 90 0 1 833.6603 416.3398 Z" />
            <text x="756.1" y="333.7" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="major_chord">A</text>
        </a>

        <a href="#" id="F#min" class="note_input">
            <path d="M 519.2129 416.3398 A 85.5526 85.5526 90 0 0 507.7511 373.5634 L 655.9313 288.0086 A 266.6667 266.6667 90 0 1 690.3182 416.3398 Z" />
            <text x="598.4698" y="372.1792" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">F#min</text>
        </a>

        <a href="#" id="add" class="note_input">
            <circle cx="420" cy="420" r="87" fill="#537fbe" />
            <text x="420" y="420" fill="#FFFFFF" text-anchor="middle" alignment-baseline="middle" class="minor_chord">Add</text>
        </a>
    </svg>
</div>
{% endblock %}

{% block code %}
    <script>
        function test() {
            progression = {{progression|safe}};
            alert(JSON.stringify(progression));
        }
    </script>
{% endblock %}