{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Last modified</th>
        <th></th>
    </tr>
    <tbody>
    {% for row in rows %}
        <tr>
            <td>{{row["name"]}}</td>
            <td>{{row["last_modified"]}}</td>
            <td>
                <form action="/edit" method="get">
                    <input type="hidden" name="id" value='{{row["id"]}}' />
                    <button class="btn btn-primary" type="submit">Edit</button>
                </form>
                &nbsp&nbsp&nbsp
                <form action="/delete" method="post" onsubmit="return confirm('Are you sure you want to delete {{row['name']}}?');">
                    <input type="hidden" name="id" value='{{row["id"]}}' />
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}